
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared style */
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #FFF8F3;

}

.text-primary{
 color: #FD6E0A;
}
.dark-2 {
    color: #474747;
    font-weight: bold;
    font-size: 20px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}


/* header */
.header{
    background-image: url('../images/developer.png'),url(../images/header_bg.png);
    background-repeat:no-repeat;
    background-position:  left, right bottom;
    margin-left: 25px;
}


/* nav css  */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 250px;
}
nav ul {
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li  {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
}
/* banner-style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 235px;
}
.banner-content{
    max-width: 580px;
}

.banner-greettings{
    font-weight: 600px;
    font-size: 45px;    
}
.banner-title{
    font-size: 85px;
    font-weight:bold;
}
.banner-description{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
}
.banner-profile{
    weight:584px;
    height:676px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}



/* about style */
.about-items{
    display: flex;
    justify-content: space-around;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}
/* skill style */

.skill-container{
    display: flex;
    gap: 24px;
}
.skill-description{
     font-size: 18px;
    color: #757575;
}
.skill{
    padding: 15px 30px 30px;
    border-radius: 5px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
} 
.skill img{
    padding-top: 30px;
    margin-bottom: 50px;
}